{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Apoio às CADDs</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sacadd.css' %}" rel="stylesheet">

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/sacadd.js' %}"></script>

  </head>
  <body>
    <!-- Header section -->
    <section class="header">
      <div class="header-content">
        <div class="row justify-content-between">
          <div class="col-6">
            <h1 class="titulo-sistema">Sistema de Apoio às CADDs</h1>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-10">
                <span class="usuario-texto">{% if user.is_authenticated %}{{ tipo }} {% endif %}</span>
                <span class="usuario-autenticado" onclick="mostrarPerfilModal()">{% if user.is_authenticated %}{{ user.last_name }}{% endif %}</span>
                <a href="{% url 'accounts:alterar_senha' %}"><span class="logout">Alterar a senha</span></a>
                <a href="{% url 'accounts:usuario_logout' %}"><img src="{% static 'img/logout.svg' %}" width="30px" class="logout-icon"><span class="logout">SAIR</span></a>
                <h3 class="usuario-autenticado">{% if user.is_authenticated %}{{ tipo }} {{ user.last_name }}{% endif %}</h3>
              </div>
              <div class="col-">
                <ul class="Usuario_Opcoes">
                  <!-- <li><a href="#"> Meu Perfil </a></li> -->
                  <li><a href="{% url 'accounts:alterar_senha' %}"> Alterar senha </a></li>
                  <li class="logout"><a href="{% url 'accounts:usuario_logout' %}"><img src="{% static 'img/logout.svg' %}" width="30px" class="logout-icon"> Sair </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Navbar section -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link{% if ativoInicio %} active{% endif %}" href="{% url 'home' %}">Início</a>
      </li>
      {% if user.is_authenticated %}

      {% if 'Admin' in tipo %}
      <li class="nav-item">
        <a class="nav-link{% if ativoComissoes %} active{% endif %}" href="{% url 'cadd:lista_comissoes' %}">Comissões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoConfiguracoes %} active{% endif %}" href="{% url 'cadd:editar_parametros' %}">Configurações</a>
      </li>
      {% endif %}

      {% if 'Prof' in tipo and membro %}
      <li class="nav-item">
        <a class="nav-link{% if ativoReunioes %} active{% endif %}" href="{% url 'cadd:lista_reunioes' %}">Reuniões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoHorarios %} active{% endif %}" href="{% url 'cadd:lista_horarios' %}">Horários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoPlanos %} active{% endif %}" href="#">Plano de Estudos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoDocumentos %} active{% endif %}" href="{% url 'cadd:lista_documentos' %}">Documentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoRelatorios %} active{% endif %}" href="#">Relatórios</a>
      </li>
      {% endif %}

      {% if 'Aluno' in tipo %}
      <li class="nav-item">
        <a class="nav-link{% if ativoReunioes %} active{% endif %}" href="#">Reuniões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if ativoPlanos %} active{% endif %}" href="{% url 'cadd:lista_planos' %}">Plano de Estudos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disable" href="#">Estatísticas</a>
      </li>
      {% endif %}

      {% endif %}
    </ul>

    <!-- Content section -->
    <section class="content">
    {% block body %}

    {% endblock body %}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <p class="m-0 text-center text-white">Sistema de Apoio às CADDs &copy; CEFET-RJ 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>
