{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
<h1 class="h3 mb-2 font-weight-normal">Parâmetros</h1>
<div class="row">
    <form class="" action="" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-2 font-weight-normal">Dimensões:</h1>
        <h1 class="h5 mb-2 font-weight-normal">Quantidade de reprovações por disciplina:</h1>
        <h1 class="h5 mb-2 font-weight-normal">Cursos com duração de 8 períodos ou mais (Faixa de criticidade Laranja e Vermelha, respectivamente)</h1>
        <div class="form-group">
<!--            <label for="{{ form.reprovacurso8periodoslaranja.id_for_label }}">Faixa de criticidade Laranja</label> -->
            {{ form.reprovacurso8periodoslaranja }}
        </div>
        <div class="form-group">
<!--            <label for="{{ form.reprovacurso8periodosvermelha.id_for_label }}">Faixa de criticidade Vermelha</label> -->
            {{ form.reprovacurso8periodosvermelha }}
        </div>
        <h1 class="h5 mb-2 font-weight-normal">Demais cursos (Faixa de criticidade Laranja e Vermelha, respectivamente)</h1>
        <div class="form-group">
<!--            <label for="{{ form.reprovademaiscursoslaranja.id_for_label }}">Faixa de criticidade laranja</label> -->
            {{ form.reprovademaiscursoslaranja }}
        </div>
        <div class="form-group">
<!--            <label for="{{ form.reprovademaiscursosvermelha.id_for_label }}">Faixa de criticidade Vermelha</label> -->
            {{ form.reprovademaiscursosvermelha }}
        </div>
        <h1 class="h5 mb-2 font-weight-normal">Quantidade de períodos para integralização (Faixa de criticidade Laranja e Vermelha, respectivamente):</h1>
        <div class="form-group">
<!--            <label for="{{ form.qtdperiodoslaranja.id_for_label }}">Faixa de criticidade Laranja</label> -->
            {{ form.qtdperiodoslaranja }}
        </div>
        <div class="form-group">
<!--            <label for="{{ form.qtdperiodosvermelha.id_for_label }}">Faixa de criticidade Vermelha</label> -->
            {{ form.qtdperiodosvermelha }}
        </div>
        <h1 class="h5 mb-2 font-weight-normal">Quantidade máxima de créditos a cursar por período (Faixa de criticidade Preta):</h1>
        <div class="form-group">
<!--            <label for="{{ form.maxcreditosporperiodopreta.id_for_label }}">Faixa de criticidade Preta</label> -->
            {{ form.maxcreditosporperiodopreta }}
        </div>
        <h1 class="h5 mb-2 font-weight-normal">Total de itens por página das listagens:</h1>
        <div class="form-group">
<!--            <label for="{{ form.defaultitensporpagina.id_for_label }}">Padrão</label> -->
            {{ form.defaultitensporpagina }}
        </div>
        <span class="helptext">
          <ul>
            <li>Tanto para a dimensão <b>Quantidade de reprovações por disciplina</b> quanto para a dimensão <b>Quantidade de períodos para integralização</b>, considera-se para a Faixa de criticidade Preta, valores maiores que o da Faixa Vermelha.</li>
            <li>Nos campos de preenchimento da dimensão <b>Quantidade de períodos para integralização</b>, na fórmula deve ser utilizado o parâmetro N, que é o valor para a quantidade de períodos de um curso. Ex: 4 * N - 3</li>
            <li>No campo total de itens por página, esse valor é utilizado quando da listagem de objetos do sistema.</li>
          </ul>
        </span>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'home' %}" class="btn btn-info">Voltar</a>
        </div>
    </form>
</div>
{% endblock body %}
