{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1 class="h3 mb-2 font-weight-normal">Lista de Reuniões</h1>
    {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
    {% endif %}
    {% if reunioes %}
    <div class="form-group">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Local</th>
                <th>Data</th>
                <th>Início</th>
                <th>Situação</th>
                <th colspan="3" style="textalign:center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reunioes %}
            <tr>
                <td>{{ r.local }}</td>
                <td>{{ r.data|date:'d/m/Y' }}</td>
                <td>{{ r.inicio }}h</td>
                <td>{{ r.get_situacao_display }}</td>
                <td><a href="{% url 'cadd:editar_reuniao' r.id %}" class="btn btn-info btn-sm">Editar</a></td>
                <td><a href="{% url 'cadd:excluir_reuniao' r.id %}" class="btn btn-danger btn-sm">Cancelar agendamento</a></td>
                <td><a href="{% url 'cadd:lista_convocados' r.id %}" class="btn btn-info btn-sm">Editar Convocados</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if reunioes.has_previous %}
                <a href="?page=1" class="btn btn-info">Primeiro</a>
                <a href="?page={{ reunioes.previous_page_number }}" class="btn btn-info">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ reunioes.number }} de {{ reunioes.paginator.num_pages }}
            </span>

            {% if reunioes.has_next %}
                <a href="?page={{ reunioes.next_page_number }}" class="btn btn-info">Próximo</a>
                <a href="?page={{ reunioes.paginator.num_pages }}" class="btn btn-info">Último</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <br><br>
    <div class="form-group">
        <div class="alert alert-info" role="alert">
          <p>Não há nenhuma reunião agendada!</p>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
      <br><br>
      <a href="{% url 'cadd:nova_reuniao' %}" class="btn btn-primary" role="button">Adicionar reunião</a>
      <a href="{% url 'home' %}" class="btn btn-info">Voltar</a>
  </div>
</div>
{% endblock body %}
