{% extends "base.html" %}

{% block body %}
  <div class="row alinhamento-central">
    <span class="titulo-pagina"><< {{ doc.descricao }} do aluno {{ doc.aluno }} no semestre {{ doc.ano }}.{{ doc.periodo }} >></span>
  </div>
  {% if messages %}
  <div class="row alinhamento-central">
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if doc %}
  <div class="row alinhamento-central">
    <div class="form-group">
      <div>
        <iframe name="interno" width="1000" height="600" src="/media/{{ doc.indice }}"></iframe>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row alinhamento-central">
    <div class="form-group">
      <div class="alert alert-danger" role="alert">
        <p>O documento não se encontra no local especificado!</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row alinhamento-central">
    <a href="{% url 'cadd:lista_documentos' %}" class="btn botao-padrao">Voltar</a>
  </div>
{% endblock body %}
